{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": [
      "tsconfig.json"
    ]
  },
  "rules": {
    "@typescript-eslint/consistent-type-definitions": "off",
    "no-multiple-empty-lines": "error",
    "semi": "error",
    "quotes": [
      "error",
      "single"
    ]
  }
}
