{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "extends": [
    "@quic-pro/eslint-config",
    "@quic-pro/eslint-config/typescript"
  ]
}
